body {
  background-image: url(https://cdn.pixabay.com/photo/2017/01/31/21/56/food-2027563_960_720.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 200px;
}
#display {
  text-align: center;
  margin: auto;
  margin-top: 190px;
  font-family: Papyrus,fantasy;
  font-size: 65px;
}
#start {
 font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
 font-weight: bold;
 margin-top: 75px;
 padding-top: 0px;
}
#pause {
  font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
  font-weight: bold;
  margin-top: 25px
}
.container {
  margin-bottom: 20px;
}
