body {
  background-image: url(https://docs.google.com/uc?export=download&id=0B0yA-ksW26KNcnRUdjBVWFZmNEk);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px 250px;
  margin-top: 50px;
}
.banner {
  text-align: center;
  margin-top: 75px;
  font-family: font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
  background-color: red;
  color: white;
  padding-bottom:10px;
  height: 75px;
  font-size: 50px;
}
#display {
  color: white;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  font-family: Papyrus,fantasy;
  font-size: 65px;
}
#start {
 font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
 font-weight: bold;
 margin-top: 100px;
 padding-top: 0px;
}
#pause {
  font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
  font-weight: bold;
  margin-top: 25px
}
.container {
  margin-bottom: 20px;
}
